@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 100% 99%;
    --foreground: 270 15% 30%;
    --card: 260 100% 99%;
    --card-foreground: 270 15% 30%;
    --popover: 260 100% 99%;
    --popover-foreground: 270 15% 30%;
    --primary: 270 100% 70%;
    --primary-foreground: 260 100% 99%;
    --secondary: 270 50% 40%;
    --secondary-foreground: 260 100% 99%;
    --tertiary: 270 70% 85%;
    --muted: 270 20% 90%;
    --muted-foreground: 270 15% 40%;
    --accent: 270 30% 92%;
    --accent-foreground: 270 15% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 270 30% 92%;
    --input: 270 30% 92%;
    --ring: 270 100% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 20% 20%;
    --foreground: 260 100% 99%;
    --card: 270 25% 15%;
    --card-foreground: 260 100% 99%;
    --popover: 270 25% 15%;
    --popover-foreground: 260 100% 99%;
    --primary: 270 100% 70%;
    --primary-foreground: 260 100% 99%;
    --secondary: 270 50% 40%;
    --secondary-foreground: 260 100% 99%;
    --tertiary: 270 20% 20%;
    --muted: 270 15% 25%;
    --muted-foreground: 270 15% 60%;
    --accent: 270 50% 40%;
    --accent-foreground: 260 100% 99%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 270 20% 25%;
    --input: 270 20% 25%;
    --ring: 270 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.badge {
  @apply z-10 w-[208px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}